USE [master]
GO
/****** Object:  Database [BathComplexDB]    Script Date: 29.04.2026 0:03:51 ******/
CREATE DATABASE [BathComplexDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BathComplexDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BathComplexDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BathComplexDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BathComplexDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BathComplexDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BathComplexDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[BookingDate] [date] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[ActualStartTime] [datetime] NULL,
	[ActualEndTime] [datetime] NULL,
	[CreatedByUserID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[DiscountApplied] [decimal](5, 2) NULL,
	[FinalAmount] [decimal](10, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_IncomeByDay]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_IncomeByDay] AS
SELECT 
    CAST(b.StartTime AS DATE) AS IncomeDate,
    SUM(ISNULL(b.FinalAmount, 0)) AS TotalIncome
FROM Bookings b
WHERE b.Status = 'Finished'
GROUP BY CAST(b.StartTime AS DATE);
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ExpenseID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[ExpenseDate] [date] NOT NULL,
	[CategoryID] [int] NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ExpensesByDay]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_ExpensesByDay] AS
SELECT 
    ExpenseDate,
    SUM(Amount) AS TotalExpenses
FROM Expenses
GROUP BY ExpenseDate;
GO
/****** Object:  View [dbo].[V_DailyFinanceSummary]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DailyFinanceSummary] AS
SELECT 
    COALESCE(i.IncomeDate, e.ExpenseDate) AS Date,
    ISNULL(i.TotalIncome, 0) AS Income,
    ISNULL(e.TotalExpenses, 0) AS Expenses,
    ISNULL(i.TotalIncome, 0) - ISNULL(e.TotalExpenses, 0) AS Profit
FROM V_IncomeByDay i
FULL OUTER JOIN V_ExpensesByDay e ON i.IncomeDate = e.ExpenseDate;
GO
/****** Object:  Table [dbo].[ApartmentPricing]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentPricing](
	[PricingID] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[DayType] [nvarchar](10) NOT NULL,
	[PricePerHour] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PricingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[ApartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](20) NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApartmentStatuses]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApartmentStatusLog]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentStatusLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[SetByUserID] [int] NOT NULL,
	[SetTime] [datetime] NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingServices]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[BookingServiceID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[PricePerUnit] [decimal](10, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[PricePerUnit]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[BookingServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[RegistrationDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseCategories]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29.04.2026 0:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApartmentPricing] ON 

INSERT [dbo].[ApartmentPricing] ([PricingID], [ApartmentID], [DayType], [PricePerHour]) VALUES (1, 1, N'Weekday', CAST(4500.00 AS Decimal(10, 2)))
INSERT [dbo].[ApartmentPricing] ([PricingID], [ApartmentID], [DayType], [PricePerHour]) VALUES (2, 1, N'Weekend', CAST(5500.00 AS Decimal(10, 2)))
INSERT [dbo].[ApartmentPricing] ([PricingID], [ApartmentID], [DayType], [PricePerHour]) VALUES (3, 2, N'Weekday', CAST(4500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ApartmentPricing] OFF
GO
SET IDENTITY_INSERT [dbo].[Apartments] ON 

INSERT [dbo].[Apartments] ([ApartmentID], [Name], [Type], [Description], [IsActive]) VALUES (1, N'Апартамент №1', N'Standard', NULL, 1)
INSERT [dbo].[Apartments] ([ApartmentID], [Name], [Type], [Description], [IsActive]) VALUES (2, N'Апартамент №2', N'Standard', NULL, 1)
INSERT [dbo].[Apartments] ([ApartmentID], [Name], [Type], [Description], [IsActive]) VALUES (3, N'ВИП Апартамент', N'VIP', NULL, 1)
SET IDENTITY_INSERT [dbo].[Apartments] OFF
GO
SET IDENTITY_INSERT [dbo].[ApartmentStatuses] ON 

INSERT [dbo].[ApartmentStatuses] ([StatusID], [StatusName]) VALUES (2, N'Бронь')
INSERT [dbo].[ApartmentStatuses] ([StatusID], [StatusName]) VALUES (3, N'Занято')
INSERT [dbo].[ApartmentStatuses] ([StatusID], [StatusName]) VALUES (1, N'Свободно')
SET IDENTITY_INSERT [dbo].[ApartmentStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [FullName], [Phone], [DiscountPercent], [RegistrationDate]) VALUES (1, N'Ахметов Данияр Ерланович', N'+77051234567', CAST(5.00 AS Decimal(5, 2)), CAST(N'2025-06-15' AS Date))
INSERT [dbo].[Clients] ([ClientID], [FullName], [Phone], [DiscountPercent], [RegistrationDate]) VALUES (2, N'Серикова Айнур Бахытовна', N'+77059876543', CAST(3.00 AS Decimal(5, 2)), CAST(N'2025-07-20' AS Date))
INSERT [dbo].[Clients] ([ClientID], [FullName], [Phone], [DiscountPercent], [RegistrationDate]) VALUES (3, N'Мусаев Алишер Канатович', N'+77014567890', CAST(0.00 AS Decimal(5, 2)), CAST(N'2025-08-05' AS Date))
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[ExpenseCategories] ON 

INSERT [dbo].[ExpenseCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Коммунальные платежи')
INSERT [dbo].[ExpenseCategories] ([CategoryID], [CategoryName]) VALUES (2, N'Моющие и чистящие средства')
INSERT [dbo].[ExpenseCategories] ([CategoryID], [CategoryName]) VALUES (3, N'Ремонт и обслуживание')
SET IDENTITY_INSERT [dbo].[ExpenseCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор смены')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Владелец')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Системный администратор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceCategories] ON 

INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Банные программы')
INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName]) VALUES (2, N'СПА-услуги')
INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName]) VALUES (3, N'Еда и напитки')
SET IDENTITY_INSERT [dbo].[ServiceCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [Price], [CategoryID]) VALUES (1, N'Знакомство с баней', N'Программа для новичков', CAST(13000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [Price], [CategoryID]) VALUES (2, N'Банный гурман', N'Расширенная программа', CAST(17000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [Price], [CategoryID]) VALUES (3, N'Перезагрузка', N'Премиум программа', CAST(27000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Login], [PasswordHash], [RoleID], [IsActive]) VALUES (1, N'Аскаров Тимур Маратович', N'admin', N'admin123', 3, 1)
INSERT [dbo].[Users] ([UserID], [FullName], [Login], [PasswordHash], [RoleID], [IsActive]) VALUES (2, N'Нурланова Айгуль Сериковна', N'owner', N'owner123', 2, 1)
INSERT [dbo].[Users] ([UserID], [FullName], [Login], [PasswordHash], [RoleID], [IsActive]) VALUES (3, N'Смагулов Ерлан Кайратович', N'admin1', N'admin1123', 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Pricing]    Script Date: 29.04.2026 0:03:52 ******/
ALTER TABLE [dbo].[ApartmentPricing] ADD  CONSTRAINT [UQ_Pricing] UNIQUE NONCLUSTERED 
(
	[ApartmentID] ASC,
	[DayType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Apartmen__05E7698ACB2744B8]    Script Date: 29.04.2026 0:03:52 ******/
ALTER TABLE [dbo].[ApartmentStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_Dates]    Script Date: 29.04.2026 0:03:52 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Dates] ON [dbo].[Bookings]
(
	[StartTime] ASC,
	[EndTime] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__5C7E359E9882E8A9]    Script Date: 29.04.2026 0:03:52 ******/
ALTER TABLE [dbo].[Clients] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clients_Phone]    Script Date: 29.04.2026 0:03:52 ******/
CREATE NONCLUSTERED INDEX [IX_Clients_Phone] ON [dbo].[Clients]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expenses_Date]    Script Date: 29.04.2026 0:03:52 ******/
CREATE NONCLUSTERED INDEX [IX_Expenses_Date] ON [dbo].[Expenses]
(
	[ExpenseDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160FCDDF392]    Script Date: 29.04.2026 0:03:52 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BE4768AF5]    Script Date: 29.04.2026 0:03:52 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Apartments] ADD  DEFAULT ('Standard') FOR [Type]
GO
ALTER TABLE [dbo].[Apartments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ApartmentStatusLog] ADD  DEFAULT (getdate()) FOR [SetTime]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [DiscountApplied]
GO
ALTER TABLE [dbo].[BookingServices] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ApartmentPricing]  WITH CHECK ADD FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartments] ([ApartmentID])
GO
ALTER TABLE [dbo].[ApartmentStatusLog]  WITH CHECK ADD FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartments] ([ApartmentID])
GO
ALTER TABLE [dbo].[ApartmentStatusLog]  WITH CHECK ADD FOREIGN KEY([SetByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ApartmentStatusLog]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[ApartmentStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartments] ([ApartmentID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ExpenseCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ServiceCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[ApartmentPricing]  WITH CHECK ADD CHECK  (([DayType]='Weekend' OR [DayType]='Weekday'))
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
USE [master]
GO
